* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}

.fa-bars, .fa-xmark {
  font-size: 50px;
  color: white;
  padding: 10px 15px;
}

ul {
  list-style: none;
  margin-top: 50px;
  color: lightblue;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}